* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
}

a:hover {
	opacity: 0.7;
}

li {
	list-style: none;
}

textarea:focus, input:focus{
    outline: 0;
}

body {
	font-family: "Karla", sans-serif;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding-top: 0.1rem;
	height: 100%;
	background-color: #CECECE;
}

.search {
	background-color: #D5641C;
	border-radius: 8px;
	width: 95%;
	height: 50%;
	margin: 1rem auto 1rem auto;
	padding-top: 1rem;
	padding-left: 1rem;
}

.search__field {
	background-color: #FAFAFA;
	border-radius: 8px;
	width: 30%;
	text-align: center;
	margin-bottom: 1rem;
	margin-top: 1rem;
	display: inline-block;
}

input[type="text"] {
	width: 90%;
	font-family: 'Karla', sans-serif;
	color: rgba(95,156,226,0.8);
	font-size: 1.25rem;
	height: 4rem;
	border-radius: 3px;
	padding: 10px 10px 10px 35px;
  	border: solid 5px #c9c9c9;
  	transition: border 0.3s;
  	background-image: url('http://i47.tinypic.com/r02vbq.png');
	background-repeat: no-repeat;
	background-position: -5% 50%;
}

input[type="text"]:focus {
	font-family: 'Karla', sans-serif;
	font-size: 1.25rem;
	color: #505050;
  	border: solid 5px #969696;
}

input[type="submit"] {
	font-family: 'Karla', sans-serif;
	letter-spacing: 0.3rem;
	font-size: 1.25rem;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	margin: 1rem;
	width: 90%;
	padding: 1.25rem 1rem 1rem 1rem;
  	background-color: #F67A00;
  	border: none;
  	border-radius: 5px;
  	box-shadow: 0 5px #B46D2E;
  	cursor: pointer;
}

input[type="submit"]:hover {
  	opacity: 0.9;
  	cursor: pointer;
}

input[type="submit"]:active {
  	background-color: #B46D2E;
  	box-shadow: 0 2px #B46D2E;
  	transform: translateY(5px);
}

#etsy-title {
	font-family: serif;
	color: #D5641C;
	font-size: 2rem;
}

.search__title {
	color: #fff;
	font-size: 1.75rem;
	background-color: #c9c9c9;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	padding: 1rem;
}

#search__field__instructions {
	color: #606060;
	font-size: 1.25rem;
	padding: 1rem;
}

.search__location {
	border: 1px solid #c9c9c9;
	margin: 1rem;
	border-radius: 2px;
}

#search__location__title {
	font-size: 1.5rem;
	color: #D5641C;
	letter-spacing: 0.1rem;
	font-weight: 500;
	padding: 0.5rem;
}

#search__location__address {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;

}

#search__location__city {
	padding-top: 2rem;
	color: #5F9CE2;
	font-size: 1.75rem;
}

#search__location__zip {
	color: #5F9CE2;
	font-size: 2.5rem;
	font-weight: 700;
}

#search__location__disclaimer {
	color: #606060;
	font-size: 0.75rem;
	padding: 1rem;
}

#map {
	width: 95%;
	height: 420px;
	display: inline-block;
	margin: 1rem;
	border-radius: 8px;
}

.search__map {
	background-color: #FAFAFA;
	border-radius: 8px;
	width: 65%;
	text-align: center;
	margin: 1rem;
	display: inline-block;
}

.highlight {
	color: #D5641C;
	font-weight: bold;
}

.map-placeholder {
	width: 95%;
	padding: 1rem;
}

#googlemap {
	width: 100%;
	height: 30rem;
	border-radius: 3px;
	padding: 1.5rem;
}

.results {
	background-color: #E5E5E5;
	border-radius: 15px;
	width: 95%;
	margin: 1rem auto 1rem auto;
}

#results__title {
	color: #fff;
	background-color: #D5641C;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	padding: 1rem;
}

.results__boxes {
	text-align: center;
	padding: 1rem;
}

.results__boxes li {
	padding: 1rem;
	margin: 1rem;
	display: inline-block;
	width: 30%;
}

.results__boxes__shops {
	background-color: #FDFDFD;
	border-radius: 3px;
}

.results__boxes__shops__descriptions {
	color: #676767;
	font-size: 0.75rem;
}

.results__boxes__shops--profiles li {
	display: inline-block;
	width: 30%;
}

.shop--profile {
	padding: 0.5rem;
	margin: 0.5rem;
	border-top: 2px solid #CDCACA;
}

.profile--image {
	width: 60%;
	margin: 0 auto 0 auto;
}

.shop-name {
	font-size: 1.5rem;
	font-weight: bolder;
}

.shop-tagline {
	font-size: 1rem;
	font-style: italic;
}

.shop-address {
	font-size: 1.25rem;
}

.shop-city-state-zip {
	font-size: 1.25rem;
}

.shop-distance {
	font-size: 1.3rem;
	font-weight: bold;
	color: #5F9CE2;
}

.fa-map-marker {
	color: #D5641C;
}

.copy {
	color: #fff;
	text-align: center;
	margin: 2rem 5rem 2rem 5rem;
	padding: 1rem;
}








